.container {
	max-width: 75rem;
	width: 100%;
	margin: 0 auto;
	display: table;
}

.col-6 {
	display: table-cell;
	width: 50%;
}

th, td {
	padding: 10px 4px;
}

#user_table {
	border: 2px solid black;
	width: 90%;
	text-align: left;
	margin: 0 auto;
}

#user_table th {
	border-bottom: 1px solid black;
}

#add_users {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
}


#add_users label {
	display: block;
	text-align: right;
	padding: 0.3rem 0;
}

#add_users input[type="submit"] {
	display: table;
	margin-right: 0;
	margin-left: auto;
}

#add_users h1 {
	border-bottom: 1px solid black;
}